node_modules
.DS_Store
dist
dist-ssr
*.local
.idea

/data
!/data/.gitkeep
.vscode

/private
/out
/tmp
.env

cypress/videos
cypress/screenshots

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

.vs
.vscode

public\a.json
public\table.json
public\tree.json
public\table.json
public\data_ta21.json
public\data_qradar.json
public\data_fidelis.json